.App {
  text-align: center;
  margin: 0 auto;
}

.appTitle {
  color: purple;
  margin: 50px auto;
  font-weight: bold;
}

.addBarButtonStyle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.addToDoBar {
  height: 35px;
  line-height: 30px;
  font-size: 28px;
}

.addButton {
  height: 40px;
  font-size: 28px;
  font-weight: bolder;
  margin-left: 5px;
  background-color: blueviolet;
  color: whitesmoke;
  border-radius: 5px;
}

.isChecked {
  text-decoration: line-through;
  color: gray;
  min-width: 250px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
}

.notChecked {
  color: black;
  min-width: 250px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
}

.toDoOuterBlock {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: auto;
}

.toDoBlock {
  background-color: gold;
  border-radius: 5px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.toDoButton {
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  margin: 5px;
}

.checkButton {
  background-color: green;
  color: whitesmoke;
  border-radius: 5px;
}

.deleteButton {
  background-color: orange;
  color: whitesmoke;
  border-radius: 5px;
}

.editButton {
  background-color: blue;
  color: whitesmoke;
  border-radius: 5px;
}

.doneButton {
  height: 40px;
  font-size: 16px;
  margin: 5px;
  background-color: rebeccapurple;
  color: whitesmoke;
  border-radius: 5px;
}

.cancelButton {
  height: 40px;
  font-size: 16px;
  margin: 5px;
  background-color: red;
  color: whitesmoke;
  border-radius: 5px;
}

.editToDoBar {
  height: 35px;
  line-height: 30px;
  font-size: 25px;
  margin-left: 5px;
}

@media screen and (max-width: 425px) {
  .addToDoBar {
    height: 28px;
    line-height: 25px;
    font-size: 20px;
  }
  
  .addButton {
    height: 28px;
    font-size: 20px;
  }
  
  .isChecked {
    height: 30px;
    font-size: 20px;
  }
  
  .notChecked {
    height: 30px;
    font-size: 20px;
  }
  
  .toDoButton {
    height: 28px;
    font-size: 20px;
  }
  
  .doneButton {
    height: 28px;
    font-size: 16px;
  }
  
  .cancelButton {
    height: 28px;
    font-size: 16px;
  }
  
  .editToDoBar {
    height: 28px;
    line-height: 25px;
    font-size: 20px;
  }
}

@media screen and (max-width: 280px) {
  .editToDoBar {
    height: 25px;
    line-height: 20px;
    font-size: 16px;
  }
}